#aboutMeContainer {
    height: 100%;
    width: 100vw;
}

#aboutMetitle {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 10vw;
    margin-bottom: 20px;
    color: black;

    /* animation: slide-left 0s ease forwards; */

}

#sectionContent {
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    margin-bottom: 200px;

}

#SKV {
    height: 82vh;
    width: 100%;
}

#paragraphTitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vw;
    margin-top: 40px;
    color: black;
}

#paragraphContent {
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: 70px;
    margin-right: 70px;
    color: grey;
    text-align: justify;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


/* .animate-scale {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: opacity 2s, visibility 2s, transform 2s;
} */


@media (max-width: 428px) {
    #sectionContent {
        margin-left: 30px;
        margin-right: 40px;
        margin-top: -20px;
        margin-bottom: 40px;
    }

    #aboutMetitle {
        margin-top: -150px;
        font-size: 15vw;
    }

    #paragraphContent {
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 4.1vw;
    }

    #paragraphTitle {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 6vw;
    }

    #SKV {
        height: 69vh;
        width: 100%;
    }
}