#aboutmeContainer {
    height: 100%;
    width: 100vw;
}

#aboutMetitle {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 25vw;
}

#sectionContenido {
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    margin-left: 50px;
    margin-right: 30px;
    text-align: justify;

}

#paragraphTitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vw;
}

#paragraphContenido {
    margin-top: 5px;
    margin-bottom: 35px;
    color: grey;
}

@media (max-width: 428px) {
    #sectionContenido {
        margin-left: 30px;
        margin-right: 40px;
    }

    #aboutMetitle {
        margin-left: -20px;
        margin-top: -100px;
    }

    #paragraphContenido {
        margin-top: 5px;
        margin-bottom: 20px
    }
}