#footerContainer {
    height: fit-content;
    width: 100vw;
    margin-top: 20%;
    margin-bottom: 2%;
    font-family: 'Bebas Neue', sans-serif;
}

#socialsLinks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
    margin-top: -150px;
    margin-bottom: 130px;

}

#linkedinLogo {
    height: 50px;

}

#githubLogo {
    height: 50px;
    margin-top: 4%;
}


#inquiries {
    margin-top: 100px;

}

#message {
    text-align: center;
    font-size: 35px;
    margin-top: -50px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    color: black;

}

#contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(235, 235, 235);
    border-radius: 10%;
    border: 1.5px solid black;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    /* Add width and height if needed */
    /* width: 200px;
    height: 50px; */
}

#contactButton:hover {
    background-color: black;
    color: white;
}

#contactButton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(235, 235, 235);
    border-radius: 10%;
}


@media (max-width: 428px) {
    #footerContainer {
        margin-top: 10%;
        /* Adjust the margin-top for mobile devices */
        margin-bottom: 5%;
        /* Adjust the margin-bottom for mobile devices */
    }

    #socialsLinks {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        /* Adjust the gap for mobile devices */
        margin-top: -60px;
        /* Adjust the margin-top for mobile devices */
        margin-bottom: 80px;
        /* Adjust the margin-bottom for mobile devices */
    }

    #linkedinLogo {
        height: 30px;
        /* Adjust the height for mobile devices */
    }

    #githubLogo {
        height: 30px;
        /* Adjust the height for mobile devices */
        margin-top: 4%;
        /* Adjust the margin-top for mobile devices */
    }

    #inquiries {
        margin-top: 50px;
        /* Adjust the margin-top for mobile devices */
    }

    #message {
        font-size: 4vw;
        /* Adjust the font size for mobile devices */
        margin-top: -30px;
        /* Adjust the margin-top for mobile devices */
        margin-bottom: 30px;
        /* Adjust the margin-bottom for mobile devices */
    }

    #contactButton {
        /* Adjust the margin-left for mobile devices */
        margin-top: 0;
        /* Adjust the margin-top for mobile devices */
        font-size: 4vw;
        /* Adjust the font size for mobile devices */
    }
}